<% obj.each do |article| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
          <div class="article-title">
            <%= link_to article.title, article_path(article)%>
          </div>
          <div class="article-body">
            <%= truncate(article.description.html_safe, length:100, :escape => false)  %>
            <div class="article-meta-details">
              <small>Created by: <%= article.user.username %>,
                <%= time_ago_in_words(article.created_at) %> ago,
                last updated: <%= time_ago_in_words(article.updated_at) %>
              </small>
            </div>
          </div>

          <div class="article-actions">
            <% if logged_in? && current_user == article.user %>
            <%= link_to "Edit Article", edit_article_path(article), class: "btn btn-xs btn-success  float1" %>

            <%= link_to "Delete Article", article_path(article), method: :delete,
                        data: { confirm: "Are your sure?"},
                        class: "btn btn-xs btn-danger  float1" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>


<% end %>